@font-face {
    font-family:MetalGear;
    src: url(metal-gear-solid/METAG___.TTF)
}



body {
    background:url(imgs/flowersmgs.jpg);
}

main {
    height: 600px;
    background: rgba(100, 100, 100, .8);
}

.choice {
    cursor: pointer;
    font-size: 35px;
    padding: 10px;
    margin-right: 35em;
    color: red;
}

#start{
    text-align: center;
    border-radius: 10px;
    cursor:  pointer;
    border: 2px;
    width: 100px;
    background: #ccc;
    font-size: 30px;
    margin-left: 21em;
    
}

h1{
font-size: 60px;
font-family:MetalGear;
letter-spacing: 3px;
color: red;
margin-left: 5em;
}

#question {
    font-size: 50px;
    color: red;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100%{opacity:1;}
}

#scoreContainer {
z-index: 1;
background: white;
font-size: 50px;
position: absolute;
bottom: .6em;
/* left: 5em; */
padding: 225px 665px;
animation:fadeIn ease 3s;
}
